<header>
    <img src="../public/assets/img/logo.png" alt="Logo">
    <nav>
        <ul>
            <li class="first">
                <a href={{ path('home') }}>Acceuil</a>
            </li>
            <li>
                <a href={{ path('bio') }}>Biographie</a>
            </li>
            <li>
                <a href={{ path('blog') }}>Blog</a>
            </li>
            <li>
                <a href={{ path('restaurant') }}>Restaurant</a>
            </li>
            <li>
                <a class="last" href={{ path('contact') }}>Contact</a>
            </li>
        </ul>
    </nav>
</header>
