<header>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <img class="logo" src={{ asset("assets/img/logo.jpg")}} alt="Logo">
    <div class="clear"></div>
    <h2>~ le coin du pécheur ~</h2>

    <nav>
        <button class="adminbtn"><a href={{ path('adminControlPanel') }}>Admin</a></button>
        <ul>
            <li class="first">
                <a href={{ path('home') }}>Acceuil</a>
            </li>
            <li>
                <a href={{ path('bio') }}>Biographie</a>
            </li>
            <li>
                <a href={{ path('blog') }}>Blog</a>
            </li>
            <li>
                <a href={{ path('restaurant') }}>Restaurant</a>
            </li>
            <li>
                <a class="last" href={{ path('contact') }}>Contact</a>
            </li>
        </ul>

    </nav>

</header>
